@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300);
@import url(https://fonts.googleapis.com/css?family=Voltaire);
@import url(https://fonts.googleapis.com/css?family=Sanchez);

/**
 * Default
 */
html
{
    font-size: 62.5%;
}

html, body
{
    width: 100%;
    height: 100%;
}

body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    color: #292929;
    background: #000;
}

h1, h2, h3
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


.menu{
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
  text-align: center;
  color:#fff;
    height:80px;
    line-height: 80px;
    font-weight: bold;
    width:100%;
    background-color:#1f5b97 ;

}
.submenu{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color:#1f5b97;
    font-size:22px;
    height:50px;
    line-height: 50px;
    font-weight: bold;
    width:100%;
}

a
{
    color: #3ac0fe;
}

a:hover
{
    color: #3ac0fe;
    text-decoration: none;
}

p, li, span
{
    line-height: 20px;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 300;
}

ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}


#logo
{
    color: #3ac0fe;
    line-height: 60px;
    font-weight: 300;
    font-family: 'Voltaire', sans-serif;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

/**
 * Header
 */
#header
{
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    z-index: 200;
}

#header .navbar
{
margin-bottom: 10px;
background: #1E2124;
background-color: rgba(0, 0, 0, 0.6);
filter: none;
-moz-transition: all 600ms;
-webkit-transition: all 600ms;
-o-transition: all 600ms;
transition: all 600ms;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}

#header .navbar:hover
{
background-color: #2E3A41;
background-color: rgba(0, 0, 0, 1);

-moz-transition: all 600ms;
-webkit-transition: all 600ms;
-o-transition: all 600ms;
transition: all 600ms;
border: 0px solid #fff;
}

#header .navbar-inner
{
border: none;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
-webkit-box-shadow: none;
-moz-box-shadow: none;
-o-box-shadow: none;
box-shadow: none;
background: none;
filter: none;
}

#header .navbar .brand
{
    text-shadow: none;
    line-height: 80px;
}

#header .navbar .nav > li
{
    line-height: normal;
}

#header .navbar .nav > li > a
{
color: #fff;
text-shadow: none;
padding: 15px 0 9px 0;
margin: 20px 20px 26px 20px;
font-size: 16px;
font-size: 1.6rem;
font-weight: 400;
border-bottom: solid transparent 2px;
text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#header .navbar .nav > li > a:hover, #header .navbar .nav > li > a.active
{
-moz-transition: all 600ms;
-webkit-transition: all 600ms;
-o-transition: all 600ms;
transition: all 600ms;
color: #3ac0fe;
border-bottom: solid #3ac0fe 2px;
background: none;
filter: none;
}







/**
 * Intro
 */
#intro h2 {
    color: #fff;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    font-size: 90px;
    font-size: 9rem;
    margin: 0 0 10px 0;
    font-family: 'Voltaire', sans-serif;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.35);
    line-height: 90px;
}

#intro h3 {
    color: #3ac0fe;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-size: 4rem;
    font-family: 'Sanchez', serif;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.35);
    line-height: normal;
}

/**
 * Default page
 */
.header{
    background-color: #888;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 45px 0;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
border: 0px solid #336699;
}

.header h2{
    color: whitesmoke;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    font-size: 90px;
    font-size: 9rem;
    margin: 25px 0;
    font-family: 'Voltaire', sans-serif;
}

.header h3{
    color: #3ac0fe;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-size: 2rem;
    font-family: 'Sanchez', serif;
}

.content{
background: #fff; /*Whitesmoke*/
padding: 3%; /*90px*/
text-align: justify;
text-justify: inter-word;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}

.pull-center
{
    text-align: center;
}

.line
{
    margin: 80px;
}

.quote
{
    text-align: center;
    font-size: 30px;
    font-size: 3rem;
    line-height: 40px;
}

.customer
{
    text-align: center;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 40px;
}

/* Stile delle Features home page  */
.feature {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 64px;
}


.feature i
{
    color: #3ac0fe;
    margin-right: 7px;
}

/**
 * Box
 */
.box
{
    width: 100%;
    min-height: 100%;
}

.H_Row{
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
    height: 10px;
    background-color: #556699 ;
    border: 2px solid #336699;

}


.KM{
    color:#336699

}
.PointMinus{
    font-weight: bold;
    color: #991b2c
}





















/**
 * Back to top
 */
#back-top
{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 2px 2px;
    color: #fff;
    background: #333;
    background: rgba(51, 51, 51, 0.75);
        -moz-transition: all 600ms;
        -webkit-transition: all 600ms;
        -o-transition: all 600ms;
    transition: all 600ms;

}

#back-top:hover
{
    text-decoration: none;
    background: #3ac0fe;
    background: rgba(58, 192, 254, 0.75);
        -moz-transition: all 600ms;
        -webkit-transition: all 600ms;
        -o-transition: all 600ms;
    transition: all 600ms;
}

/**
 * CSS Media Queries
 */

/* Large desktop */
@media (min-width: 1200px)
{
}

/* Normal desktop */
@media (min-width: 980px) and (max-width: 1199px)
{
}
